<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
<!--&lt;!&ndash;导入配置文件&ndash;&gt;
    <properties resource="jdbc.properties"/>
    &lt;!&ndash;配置数据源&ndash;&gt;
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    &lt;!&ndash;扫描映射包&ndash;&gt;
    <mappers>
        <package name="com.itmhw.mapper"/>
    </mappers>-->
</configuration>